.col {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-content {
    margin-top: 4%;
    padding-bottom: 10px;
}

.item {
    margin-top: -8px;
}

.button {
    margin-top: 5px;
}
