/* Used to position the alert */
.alerts-body {
    position: absolute;
    top: 15%;
    right: 25%;
    left: 25%;
    z-index: 1000;
    width: 50%;
}

.collab-alerts {
    opacity: 0.90;
    border-radius: 25px;
    padding: 15px 0;
    margin: 10px 0;
    color: white;
    display: block;
    margin-right: 2%;
    margin-left: 2%
}

/* Alert text */
.alerts-text {
    font-size: 22px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "Verdana";
    font-weight: bold;
}
  
.collab-alerts.danger {
    background-color: red;
}
.collab-alerts.warning {
    background-color: #856404;
}

.collab-alerts.success {
    background-color: green;
}

.collab-alerts.primary {
    background-color: blue;
}