.sign-reg-butt {
    position: absolute;
    width: 115px;
    height: 31px;           
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: Black;
    line-height: 0px;
    font-size: 20px;
}

.get-started-butt {
    position: absolute;
    width: 177px;
    height: 53px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px solid;
    border-radius: 24px;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
}

.collab-cloud {
    position: absolute;
    width: 264px;
    height: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 68px;
    line-height: 50px;
    color: #000000;

}
.main-text {
    position: absolute;
    width: 740px;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}

.main-text-cont {
    position: absolute;
    width: 467px;
    height: 44px;

    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
}

.logo {
    width: 124px;
    height: 68px;
    top: 22px;
    left: 4px;
    position: absolute
        
}