.slidebox {
  width: 1300px;
  height: 500px;
}

.innerbox {
  text-align: left;
}

.top5 {
  margin-top: 25px;
}

.project-view-submit-buttons {
  margin-left: 15px;
}

.project-view-links-buttons {
  margin-right: 4px;
}